@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.animatedCircle {
  height: 4rem;
  width: 4rem;
  -webkit-animation: stretch 4s ease-out alternate running infinite;
          animation: stretch 4s ease-out alternate running infinite;
}

@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: yellow;
    border-radius: 100%;
  }
}

@keyframes stretch {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: yellow;
    border-radius: 100%;
  }
}

.backOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  height: 6rem;
  display: none;
  background-color: aliceblue;
  -webkit-box-shadow: 0px 5px 10px #00000022, 0px 5px 10px #00000022;
          box-shadow: 0px 5px 10px #00000022, 0px 5px 10px #00000022;
  z-index: 999;
}

@media only screen and (min-width: 55em) {
  .backOverlay {
    display: block;
  }
}

@media only screen and (min-width: 65.875em) {
  .backOverlay {
    height: 8rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  gap: 1rem;
  padding: 2rem;
  background-color: aliceblue;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 0px 5px 10px #00000022, 0px 5px 10px #00000022;
          box-shadow: 0px 5px 10px #00000022, 0px 5px 10px #00000022;
  font-size: 2rem;
}

.header p {
  margin-right: auto;
}

@media only screen and (min-width: 40em) {
  .header {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 55em) {
  .header {
    height: 6rem;
    padding: 0 2rem;
    font-size: 2.5rem;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media only screen and (min-width: 65.875em) {
  .header {
    font-size: 3.5rem;
    height: 8rem;
  }
}

@media only screen and (min-width: 80em) {
  .header {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 96em) {
  .header {
    max-width: 200rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header .menuBtn {
  position: relative;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header .menuBtn span {
  display: block;
  background-color: orangered;
  width: 100%;
  height: 0.4rem;
  border-radius: 999px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.header .menuBtn span:not(:last-child) {
  margin-bottom: calc(4rem / 2 - (2 * 0.6rem));
}

.header .menuBtn span:first-child {
  width: 33.334%;
}

.header .menuBtn span:last-child {
  width: 66.667%;
}

.header .menuBtn.open span {
  position: absolute;
  margin-bottom: 0;
}

.header .menuBtn.open span:first-child {
  width: 100%;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.header .menuBtn.open span:nth-child(2) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 0;
}

.header .menuBtn.open span:last-child {
  width: 100%;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

@media only screen and (min-width: 55em) {
  .header .menuBtn {
    display: none;
  }
}

.header__nav {
  display: none;
  font-size: 0.6em;
  gap: 1em;
  height: 100%;
}

@media only screen and (min-width: 55em) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav a:link,
.header__nav a:visited {
  text-decoration: none;
  color: #0000ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: transparent solid 3px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.header__nav a:link:hover,
.header__nav a:visited:hover {
  border-color: orangered;
}

.header__nav--mobile {
  background-image: -webkit-gradient(linear, left top, left bottom, from(orangered), to(transparent));
  background-image: linear-gradient(orangered, transparent);
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  z-index: 20;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.header__nav--mobile.openedMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__nav--mobile.openedMenu a:link,
.header__nav--mobile.openedMenu a:visited {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.header__nav--mobile.openedMenu a:link:hover,
.header__nav--mobile.openedMenu a:visited:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.18);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__nav--mobile.openedMenu a:link:active,
.header__nav--mobile.openedMenu a:visited:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media only screen and (min-width: 55em) {
  .header__nav--mobile.openedMenu {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.home .box {
  margin-top: 14rem;
  margin-bottom: 4.5vmax;
  background-color: aliceblue;
  height: 75vh;
  width: 80vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2vw;
  border: 0.1vh;
  border-style: solid;
  -webkit-box-shadow: 2vh 2vh rgba(68, 168, 255, 0.144);
          box-shadow: 2vh 2vh rgba(68, 168, 255, 0.144);
  font-family: "Roboto Mono", monospace;
}

.home {
  height: 90vh;
  padding-top: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .box .myself {
  width: 15vw;
  height: 15vw;
  border-radius: 50vh;
}

.home .box .box2 {
  background-color: #f0f8c0;
  -webkit-box-shadow: 2vh 2vh rgba(240, 248, 192, 0.61);
          box-shadow: 2vh 2vh rgba(240, 248, 192, 0.61);
  height: 25%;
  width: 60%;
  border: 0.1vh;
  border-style: solid;
  margin: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6vh;
}

.home .box .box2 p {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation: typing 4.5s steps(30, end), blink-caret 0.75s step-end infinite;
          animation: typing 4.5s steps(30, end), blink-caret 0.75s step-end infinite;
  /* animation-iteration-count: infinite; */
  font-size: 4vh;
  font-weight: 900;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.animbox {
  height: 5vh;
  width: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin: 0.5vw;
  background-color: green;
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;
}

@-webkit-keyframes rotate {
  0% {
    rotate: 180deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes rotate {
  0% {
    rotate: 180deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}

.getconnected {
  /* background-color: aqua; */
  height: 60vh;
  margin-top: 10vh;
  /* align-items: center; */
}

.getconnected .headline {
  font-size: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0ch;
  border-bottom: 0.5vh;
  border-style: solid;
  left: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 42%;
  height: 6vh;
  width: 15%;
  border-bottom: 3px solid #000;
}

.getconnected .subheading {
  font-size: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Mono", monospace;
  left: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  /* left: 10%; */
  top: 221vh;
  height: 6vh;
  width: 80%;
}

.getconnected .socials .socialbox .social {
  width: 5vw;
  height: 5vw;
}

.getconnected .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.getconnected .socials .socialbox {
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: aliceblue;
  width: 30vh;
  height: 20vh;
  margin: 5vh;
  margin-top: 22vh;
  padding: 2vh;
  border-radius: 2vh;
  -webkit-box-shadow: 5vh 5vh rgba(68, 168, 255, 0.493);
          box-shadow: 5vh 5vh rgba(68, 168, 255, 0.493);
}

.getconnected .socials .socialbox p {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 3vh;
  padding: 3vh;
}

.getconnected .socials .socialbox a {
  text-decoration: none;
  color: #000;
}

.getconnected .socials .socialbox a:visited {
  text-decoration: none;
  color: #000;
}

.getconnected .socials .socialbox p:hover {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 5vh;
  padding: 1vh;
  border: 0vh;
  border-bottom: 0.3vh;
  border-color: orangered;
  border-style: solid;
  cursor: pointer;
}

.aboutme {
  height: 100vh;
  background-image: url(../assets/images/aboutmebg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutme .headline {
  font-size: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0ch;
  border-bottom: 0.5vh;
  border-style: solid;
  left: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 38%;
  margin-left: 22vw;
  font-family: "Roboto Mono", monospace;
  height: 8vh;
  width: 25%;
  border-bottom: 3px solid #000;
  padding-top: 7vh;
  /* background-color: rgba(255, 255, 255, 0.801); */
  /* border-radius: 2vh; */
  font-weight: 900;
}

.aboutme .subheading {
  font-size: 2.3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Mono", monospace;
  left: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  /* left: 10%; */
  top: 114vh;
  /* display: none; */
  height: 6vh;
  width: 54%;
  margin-left: 35vw;
  background-color: #fffff0;
  padding-top: 2vh;
  margin-top: 3vh;
  border-radius: 2vh;
  font-weight: 900;
}

.aboutme .intro {
  font-family: "Roboto Mono", monospace;
  font-size: 4vh;
  text-align: justify;
  padding: 5vh;
  padding-top: 25vh;
  margin-left: 50vw;
  /* background-color: rgba(255, 255, 255, 0.76); */
  font-weight: 400;
}

.aboutme .intro p {
  /* background-color: #fffff0; */
  border-radius: 2vh;
  width: 40vw;
  height: 60vh;
  font-weight: 900;
  padding: 2vh;
}

.foot {
  background-color: black;
  height: 7vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 800px) {
  .home .box {
    margin-bottom: 4.5vmax;
    background-color: aliceblue;
    height: 65vh;
    width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 2vw;
    border: 0.1vh;
    border-style: solid;
    -webkit-box-shadow: 2vh 2vh rgba(68, 168, 255, 0.144);
            box-shadow: 2vh 2vh rgba(68, 168, 255, 0.144);
    font-family: "Roboto Mono", monospace;
  }
  .home {
    height: 90vh;
    padding-top: 2vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .box .myself {
    width: 60vmin;
    /* padding-top: 20vmin; */
    margin-top: 5vmin;
    height: 60vmin;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100vmin;
  }
  .home .box .box2 {
    background-color: #f0f8c0;
    -webkit-box-shadow: 2vh 2vh rgba(240, 248, 192, 0.61);
            box-shadow: 2vh 2vh rgba(240, 248, 192, 0.61);
    height: 25%;
    width: 90%;
    border: 0.1vh;
    border-style: solid;
    margin: 5vmin;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 6vmin;
  }
  .home .box .box2 p {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em;
    /* Adjust as needed */
    -webkit-animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
            animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
    /* animation-iteration-count: infinite; */
    font-size: 3vmin;
    font-weight: 900;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }
  /* The typewriter cursor effect */
  @-webkit-keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
}

@media (max-width: 800px) {
  .aboutme {
    height: 70vh;
    background-image: url(../images/aboutmebg.png);
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-color: #ffc773e8;
  }
  .aboutme .headline {
    font-size: 8vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0ch;
    border-bottom: 0.5vh;
    border-style: solid;
    left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 28%;
    margin-left: 22vw;
    font-family: "Roboto Mono", monospace;
    height: 5vh;
    width: 45%;
    border-bottom: 3px solid #000;
    padding-top: 7vh;
    /* background-color: rgba(255, 255, 255, 0.801); */
    /* border-radius: 2vh; */
    font-weight: 900;
  }
  .aboutme .subheading {
    font-size: 2.3vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto Mono", monospace;
    left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    text-align: center;
    /* left: 10%; */
    top: 110vh;
    /* display: none; */
    height: 6vh;
    width: 52%;
    margin-left: 35vw;
    background-color: #fffff0;
    padding-top: 2vh;
    margin-top: 3vh;
    border-radius: 2vh;
    font-weight: 900;
  }
  .aboutme .intro {
    font-family: "Roboto Mono", monospace;
    font-size: 4vmin;
    text-align: justify;
    /* padding: 5vh; */
    /* padding-top: 25vh; */
    /* margin-left: 50vw; */
    /* background-color: rgba(255, 255, 255, 0.76); */
    font-weight: 400;
  }
  .aboutme .intro p {
    /* background-color: #fffff0; */
    border-radius: 2vh;
    width: 85vw;
    position: absolute;
    left: 2vmin;
    margin-top: 10vmin;
    /* height: 60vh; */
    font-weight: 900;
    /* background-color: #ffbd59cc; */
    /* padding: 2vh; */
  }
  .foot {
    background-color: black;
    height: 7vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 4vmin;
  }
}

@media (max-width: 800px) {
  .getconnected {
    /* background-color: aqua; */
    height: 70vh;
    margin-top: 10vmin;
    /* align-items: center; */
  }
  .getconnected .headline {
    font-size: 8vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0ch;
    border-bottom: 0.5vh;
    border-style: solid;
    left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 22%;
    height: 6vh;
    width: 55%;
    border-bottom: 3px solid #000;
  }
  .getconnected .subheading {
    font-size: 3vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto Mono", monospace;
    left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    text-align: center;
    /* left: 10%; */
    top: 185vh;
    height: 6vh;
    width: 80%;
    font-weight: 900;
    /* display: none; */
  }
  .getconnected .socials .socialbox .social {
    width: 15vmin;
    height: 15vmin;
  }
  .getconnected .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 1vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40vmin;
  }
  .getconnected .socials .socialbox {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: aliceblue;
    width: 30vmin;
    height: 25vmin;
    margin: 5vmin;
    /* margin-top: 32vmin; */
    margin-right: 10vmin;
    padding: 2vmin;
    border-radius: 2vh;
    -webkit-box-shadow: 5vmin 5vmin rgba(68, 168, 255, 0.493);
            box-shadow: 5vmin 5vmin rgba(68, 168, 255, 0.493);
  }
  .getconnected .socials .socialbox p {
    font-family: "Roboto Mono", monospace;
    font-weight: bolder;
    font-size: 5vmin;
    padding: 3vmin;
  }
  .getconnected .socials .socialbox p:hover {
    font-family: "Roboto Mono", monospace;
    font-weight: bolder;
    font-size: 5vh;
    padding: 1vmin;
    border: 0vh;
    border-bottom: 0.3vh;
    border-color: orangered;
    border-style: solid;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    /* position: relative; */
    display: block;
    position: fixed;
    right: 2vmin;
    background-color: white;
  }
  .topnav a {
    font-size: 7vmin;
  }
  .topnav i {
    font-size: 7vmin;
  }
  .topnav.responsive a.icon {
    position: absolute;
    font-size: 7vmin;
    right: 2vmin;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 7vmin;
  }
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.heading {
  font-size: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0ch;
  border-bottom: 0.5vh;
  border-style: solid;
  left: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 38%;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Dancing Script", cursive;
  height: 9vh;
  top: 11vh;
  width: 25%;
  border-bottom: 3px solid #000;
  font-weight: 900;
}

.subheading {
  font-size: 3.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Mono", monospace;
  left: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  padding-top: 8vh;
  height: 6vh;
  width: 80%;
  border-radius: 2vh;
  font-weight: 900;
}

.topbox {
  padding-top: 12rem;
  background-color: #ffc63a;
  /* background: linear-gradient(##20e3b2, #ffbf00 100.71%); */
  border: #000;
  /* border-style: solid; */
  height: 25vh;
}

.foot {
  background-color: black;
  height: 7vh;
  /* width: 100vw; */
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
}

.getconnected {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 5vh;
  background-color: aliceblue;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Roboto Mono", monospace;
  font-size: 5vh;
  padding-bottom: 3vh;
  background-color: aliceblue;
}

.socials i {
  padding-left: 2vh;
  padding-right: 2vh;
  cursor: pointer;
}

.achivements {
  /* background-color: skyblue; */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* background: #ccccff; */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #000000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #000000;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 15px);
  text-align: center;
  font-size: 3vmin;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #000000;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #ccccff;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 5vmin;
  font-weight: normal;
  color: #000000;
}

.container .content p {
  margin: 0;
  font-size: 3.5vmin;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 600px) {
  .timeline::after {
    left: 30px;
  }
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 10px;
  }
  .container.right {
    left: 0%;
  }
  .container.left::after,
  .container.right::after {
    left: 22px;
  }
  .container.left::before,
  .container.right::before {
    left: 38px;
    border-color: transparent #000000 transparent transparent;
  }
  .container.left .date,
  .container.right .date {
    right: auto;
    left: 35px;
    top: calc(50% - 35px);
  }
  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 85px;
    width: 20px;
    height: 5px;
    top: calc(50% - 12px);
  }
  .container.left .content,
  .container.right .content {
    padding: 5px 0px 0px 30px;
    border-radius: 3vmin;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container .content h2 {
    margin: 0 0 20px 0;
    margin-left: 2vmin;
    font-size: 6vmin;
    font-weight: normal;
    color: #000000;
    margin-top: 2vmin;
  }
  .container .content p {
    margin: 0;
    font-size: 4vmin;
    line-height: 22px;
    padding-left: 4vmin;
    padding-bottom: 2vmin;
    padding-right: 2vmin;
    padding-top: 0%;
    color: #000000;
  }
  .achivements {
    /* background-color: skyblue; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .subheading {
    font-size: 3.8vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto Mono", monospace;
    left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    text-align: center;
    padding-top: 12vh;
    height: 6vh;
    width: 80%;
    border-radius: 2vh;
    font-weight: 900;
  }
  .heading {
    font-size: 15vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0ch;
    border-bottom: 0.5vh;
    border-style: solid;
    left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 38%;
    /* font-family: "Roboto Mono", monospace; */
    font-family: "Dancing Script", cursive;
    height: 9vh;
    top: 11vh;
    width: 25%;
    border-bottom: 3px solid #000;
    font-weight: 900;
  }
}

@media (max-width: 600px) {
  .foot {
    background-color: black;
    height: 7vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 4vmin;
  }
  .getconnected {
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 6vmin;
    background-color: aliceblue;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: "Roboto Mono", monospace;
    font-size: 5vmin;
    padding-bottom: 3vh;
    background-color: aliceblue;
  }
  .socials i {
    padding-left: 2vh;
    padding-right: 2vh;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    /* position: relative; */
    display: block;
    position: fixed;
    right: 2vmin;
    background-color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .topnav a {
    font-size: 7vmin;
  }
  .topnav i {
    font-size: 7vmin;
  }
  .topnav.responsive a.icon {
    position: absolute;
    font-size: 7vmin;
    right: 2vmin;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 7vmin;
  }
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.socials a {
  color: black;
}

.socials a:visited {
  color: black;
}

.heading {
  font-size: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0ch;
  border-bottom: 0.5vh;
  border-style: solid;
  left: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 38%;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Dancing Script", cursive;
  height: 9vh;
  top: 11vh;
  width: 25%;
  border-bottom: 3px solid #000;
  font-weight: 900;
}

.certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificate {
  width: 28vw;
  height: 45vh;
  margin: 3vh;
  border: goldenrod;
  border-style: groove;
  border-width: 0.2vh;
  display: flexbox;
  /* justify-content: center; */
  text-align: center;
  border-radius: 1vh;
  background-color: #fffff0;
  -webkit-box-shadow: 0.7vh 0.7vh rgba(255, 217, 0, 0.363);
          box-shadow: 0.7vh 0.7vh rgba(255, 217, 0, 0.363);
}

.certificate p {
  font-size: 3.6vh;
  font-family: "Roboto Mono", monospace;
  padding: 1vh;
  text-align: left;
  font-weight: 900;
}

.certificate .description {
  border: 0ch;
  border-top: 0.1vh;
  border-bottom: 0.1vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.certificate .description p {
  font-size: 2vh;
  /* font-family: "Roboto Mono", monospace; */
  padding: 2vh;
  font-weight: bolder;
  color: black;
  /* height: 15vh; */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.certificate a {
  font-size: 4vh;
  font-family: "Roboto Mono", monospace;
  background-color: #ffc63a;
  padding: 1vh;
  color: black;
  border-radius: 2vh;
  text-decoration: none;
  font-weight: 900;
  margin-top: 20vmin;
}

.certificate a:visited {
  font-size: 4vh;
  font-family: "Roboto Mono", monospace;
  background-color: #ffc63a;
  padding: 1vh;
  color: black;
  border-radius: 2vh;
  text-decoration: none;
  /* position: fixed; */
  font-weight: 900;
}

.certificate a:hover {
  font-size: 5vh;
  padding: 1vh;
  border-radius: 2vh;
  font-family: "Roboto Mono", monospace;
  background-color: gold;
  cursor: pointer;
  text-decoration: none;
  /* position: fixed; */
  font-weight: 900;
}

.foot {
  background-color: black;
  height: 7vh;
  /* width: 100vw; */
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
}

.getconnected {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 5vh;
  background-color: aliceblue;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Roboto Mono", monospace;
  font-size: 5vh;
  padding-bottom: 3vh;
  background-color: aliceblue;
}

.socials i {
  padding-left: 2vh;
  padding-right: 2vh;
  cursor: pointer;
}

@media (max-width: 600px) {
  .foot {
    background-color: black;
    height: 7vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 4vmin;
  }
  .getconnected {
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 6vmin;
    background-color: aliceblue;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: "Roboto Mono", monospace;
    font-size: 5vmin;
    padding-bottom: 3vh;
    background-color: aliceblue;
  }
  .socials i {
    padding-left: 2vh;
    padding-right: 2vh;
    cursor: pointer;
  }
  .subheading {
    font-size: 3vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto Mono", monospace;
    left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    text-align: center;
    padding-top: 13vh;
    height: 6vh;
    width: 80%;
    border-radius: 2vh;
    font-weight: 900;
  }
}

@media (max-width: 600px) {
  .certificates {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .certificate {
    width: 90vw;
    /* height: fit-content; */
    margin: 2vh;
    border: goldenrod;
    border-style: groove;
    border-width: 0.2vh;
    display: flexbox;
    /* justify-content: center; */
    text-align: center;
    border-radius: 1vh;
    background-color: #fffff0;
    -webkit-box-shadow: 0.7vh 0.7vh rgba(255, 217, 0, 0.363);
            box-shadow: 0.7vh 0.7vh rgba(255, 217, 0, 0.363);
  }
  .certificate p {
    font-size: 6vmin;
    font-family: "Roboto Mono", monospace;
    padding: 1vh;
    text-align: left;
    font-weight: 900;
  }
  .certificate .description {
    border: 0ch;
    border-top: 0.1vh;
    border-bottom: 0.1vh;
    margin-bottom: 2vmin;
    margin-top: 2vh;
  }
  .certificate .description p {
    font-size: 3vmin;
    /* font-family: "Roboto Mono", monospace; */
    padding: 2vmin;
    font-weight: bolder;
    color: black;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .certificate a {
    font-size: 4vh;
    font-family: "Roboto Mono", monospace;
    background-color: #ffc63a;
    padding: 1vmin;
    color: black;
    margin-top: 20vmin;
    border-radius: 2vh;
    /* position: absolute; */
    text-decoration: none;
    font-weight: 900;
  }
  .certificate a:visited {
    font-size: 4vh;
    font-family: "Roboto Mono", monospace;
    background-color: #ffc63a;
    padding: 1vh;
    color: black;
    border-radius: 2vh;
    text-decoration: none;
    /* position: fixed; */
    font-weight: 900;
  }
  .certificate a:hover {
    font-size: 5vh;
    padding: 1vh;
    border-radius: 2vh;
    font-family: "Roboto Mono", monospace;
    background-color: gold;
    cursor: pointer;
    text-decoration: none;
    /* position: fixed; */
    font-weight: 900;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    /* position: relative; */
    display: block;
    position: fixed;
    right: 2vmin;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
  }
  .topnav a {
    font-size: 7vmin;
  }
  .topnav i {
    font-size: 7vmin;
  }
  .topnav.responsive a.icon {
    position: absolute;
    font-size: 7vmin;
    right: 2vmin;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 7vmin;
  }
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.socials a {
  color: black;
}

.socials a:visited {
  color: black;
}
/*# sourceMappingURL=main.css.map */