@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.home .box {
  margin-top: 14rem;
  margin-bottom: 4.5vmax;
  background-color: aliceblue;
  height: 75vh;
  width: 80vw;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 2vw;
  border: 0.1vh;
  border-style: solid;
  box-shadow: 2vh 2vh rgba(68, 168, 255, 0.144);
  font-family: "Roboto Mono", monospace;
}

.home {
  height: 90vh;
  padding-top: 2vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home .box .myself {
  width: 15vw;
  height: 15vw;
  border-radius: 50vh;
}

.home .box .box2 {
  background-color: rgb(240, 248, 192);
  box-shadow: 2vh 2vh rgba(240, 248, 192, 0.61);
  height: 25%;
  width: 60%;
  border: 0.1vh;
  border-style: solid;
  margin: 5vw;
  align-items: center;
  display: flex;
  border-radius: 2vw;
  justify-content: center;
  font-size: 6vh;
}

.home .box .box2 p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 4.5s steps(30, end), blink-caret 0.75s step-end infinite;
  /* animation-iteration-count: infinite; */
  font-size: 4vh;
  font-weight: 900;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.animbox {
  height: 5vh;
  width: 5vh;
  display: flex;
  position: fixed;
  margin: 0.5vw;
  background-color: green;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    rotate: 180deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 360deg;
  }

  100% {
    rotate: 360deg;
  }
}

.getconnected {
  /* background-color: aqua; */
  // height: 60vh;
  margin-top: 10vh;
  /* align-items: center; */
}

.getconnected .headline {
  font-size: 5vh;
  width: max-content;
  margin: 0 auto;
  border-bottom: 3px solid #000;
}

.getconnected .subheading {
  font-size: 3.55rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin: 2rem 0;
  padding: 0;
}

.getconnected .socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.getconnected .socials .socialbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 300ms ease-out;
  padding: 1rem 2rem;
  max-width: 20vw;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 1rem;
  border: 3px solid rgba(255, 255, 255, 0.18);
}
.getconnected .socials .socialbox .social {
  width: 4rem;
  height: 4rem;

  @include respond($bp-smallest) {
    width: 7rem;
    height: 7rem;
  }
}
.getconnected .socials .socialbox a:visited,
.getconnected .socials .socialbox a:link {
  display: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 3vh;
  text-decoration: none;
  color: #000;

  @include respond($bp-small) {
    display: block;
  }
}
.getconnected .socials .socialbox:hover {
  transform: translateY(-0.5rem);
}
.getconnected .socials .socialbox:active {
  transform: translateY(0rem);
}
.aboutme {
  // min-height: 100vh;
  background-image: url(../assets/images/aboutmebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  display: block;
  padding: 2rem;

  @include respond($bp-large) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-content: center;
    padding: 0;
  }
}
.content {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(196, 196, 196, 0.37);
  backdrop-filter: blur(2rem);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  @include respond($bp-large) {
    margin: 2rem;
  }
}
.aboutme .headline {
  font-size: 4rem;
  width: max-content;
  font-weight: 900;
  margin: 2rem auto;
  border-bottom: 5px solid black;
}
.aboutme :nth-child(4) {
  margin: 0 auto;
}

.aboutme .intro {
  padding: 2rem 0;
  padding-right: 3rem;
  font-size: 2.5rem;
  font-weight: 900;
}
.aboutme .intro span {
  display: block;
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.foot {
  font-size: 2.5rem;
  background-color: black;
  color: orangered;
  text-align: center;
  padding: 1rem 0;
  font-weight: 900;

  @include respond($bp-small) {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .home .box {
    margin-bottom: 4.5vmax;
    background-color: aliceblue;
    height: 65vh;
    width: 80vw;
    align-items: center;
    display: block;
    justify-content: center;
    border-radius: 2vw;
    border: 0.1vh;
    border-style: solid;
    box-shadow: 2vh 2vh rgba(68, 168, 255, 0.144);
    font-family: "Roboto Mono", monospace;
  }

  .home {
    height: 90vh;
    padding-top: 2vh;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .home .box .myself {
    width: 60vmin;
    /* padding-top: 20vmin; */
    margin-top: 5vmin;
    height: 60vmin;
    text-align: center;
    justify-content: center;
    border-radius: 100vmin;
  }

  .home .box .box2 {
    background-color: rgb(240, 248, 192);
    box-shadow: 2vh 2vh rgba(240, 248, 192, 0.61);
    height: 25%;
    width: 90%;
    border: 0.1vh;
    border-style: solid;
    margin: 5vmin;
    align-items: center;
    display: flex;
    border-radius: 2vw;
    justify-content: center;
    font-size: 6vmin;
  }

  .home .box .box2 p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
    /* animation-iteration-count: infinite; */
    font-size: 3vmin;
    font-weight: 900;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
}
